<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url(https://wallpapermemory.com/uploads/546/tennis-wallpaper-hd-1920x1200-19145.jpg)
        }

        tr {
            color: white;
        }

        h2 {
            color: white
        }

        footer {
            color: white;
        }

        a {
            color: white;
        }

            a:hover {
                text-decoration: none;
                color: gray;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TennisStats", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница", "Index", "HomeAnalitic")</li>
                    <li>@Html.ActionLink("Теннисисты", "Players", "HomeAnalitic")</li>
                    <li>@Html.ActionLink("Отчеты", "Reports", "HomeAnalitic")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{ 
                        string name = User.Identity.Name.ToString();
                    }
                    <li>@Html.ActionLink("Здравствуйте, "+ User.Identity.Name.ToString(), "Index", "HomeAnalitic", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Выйти", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
